*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: cadetblue;
}

ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    color : white;
}

nav ul li{
    display: inline;
    padding: 10px;
}

h1{
    background-image: url(imagenes/messi.webp);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    padding: 80px 20px;
    height: 400px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 5px 5px 5px black;
    text-transform: uppercase;
}

.contenedor-tarjetas{
    text-align: center;
}

.tarjeta{
    max-width: 300px;
    max-height: 500px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    box-shadow: 10px 10px 5px black;
    margin: 20px auto;
}

.tarjeta img{
    width: 100%;
    height: 200px;
}